[elasticsearch-{{ es_repo_name }}]
name=Elasticsearch repository for {{ es_repo_name }} packages
baseurl={{ es_repo_url }}
gpgcheck=0
enabled=1
{% if opendistroforelasticsearch_repo_proxy is not defined %}
proxy=_none_
{% else %}
proxy={{ opendistroforelasticsearch_repo_proxy }}
{% endif %}


[opendistroforelasticsearch-artifacts-repo]
name=Release RPM artifacts of OpenDistroForElasticsearch
baseurl=https://d3g5vo6xdbdb9a.cloudfront.net/yum/noarch/
enabled=1
{% if opendistroforelasticsearch_redhat_repo_gpgcheck %}
gpgkey=https://d3g5vo6xdbdb9a.cloudfront.net/GPG-KEY-opendistroforelasticsearch
gpgcheck=1
{% else %}
gpgcheck=0
{% endif %}
autorefresh=1
type=rpm-md
{% if opendistroforelasticsearch_repo_proxy is not defined %}
proxy=_none_
{% else %}
proxy={{ opendistroforelasticsearch_repo_proxy }}
{% endif %}
